<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bitter:400italic' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/static/css/auth.css" />
    <title>Login</title>
</head>

<body>
<div class="user-page">
    <div class="form">
        <form class="user-form" name="f" method="post" action="/process_login">
            <h3>Welcome!</h3>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input maxlength="20" type="text" placeholder="Логин" name="username" id="username"/>
            <input maxlength="20" type="Password" placeholder="Пароль" name="password" id="password"/>
            <div th:if="${error}">
                <p style="color: red">Неправильный логин или пароль</p>
            </div>
            <a href="/auth/registration">Регистрация!</a>
            <button>Войти</button>
        </form>
    </div>
</div>

</body>

</html>
