<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/static/css/account.css">
  <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
  <div style="display: grid">
    <div th:replace="bloks/header :: header"></div>
    <form action="/edit" method="post">
      <div id="admin_information">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<!--        <div id="admin_image">-->
<!--          <img src="">-->
<!--        </div>-->

        <div id="admin_details">
          <label for="name">Логин</label>
          <input th:if="${role}" type="text" name="name" th:value="${user.getUsername()}" readonly>
          <input th:if="${!role}" type="text" id="name" name="name" th:value="${user.getUsername()}" readonly>

  <!--        <label>address</label>-->
  <!--        <input type="text" name="address">-->

          <label for="email">Почта</label>
          <input type="email" id="email" name="email" th:value="${user.getEmail()}">
            <div th:if="${!role || thisAccount}">
              <label>Роль</label>
              <p name="role" th:text="${user.getRoles()}"></p>
            </div>
            <div th:if="${role && !thisAccount}">
                <label for="role">Роль</label>
                <select id="role" name="role">
                    <option value="ROLE_ADMIN">Администратор</option>
                    <option value="ROLE_USER" th:selected="${user.Roles().contains('ROLE_USER')}">Пользователь</option>
                </select>
            </div>
        </div>

      </div>

      <div id="admin_controls">
<!--        <input type="file" name="pic" accept="image/*" style="float: left;">-->
        <button style="float: left;">Сохранить</button>
      </div>

    </form>
  </div>
</body>
</html>